body {
    color:white;
    font-family:Tahoma;
    font-size:16px;
    background-color: #add8e6;
    background-image: url("images/background_image.jpg");
}

body p{
    background-color:#002D66;
    border:2px solid white;
}

header,h1{
    text-align:center;
    font-style:italic;
}

nav,h2{
    color: white;
    border: 5px solid #002D66;
    background-color: #002D66;
}

img{
    float:left;
    width:50%;
    border:1px solid #002D66;
    background-color:#002D66;
    margin: 50px;
}

h3{
    font-size:16px;
}

a {
    color: white;
}